.container{
    display: flex;
    justify-content: flex-start;
    margin:0 auto;
    flex-wrap: wrap;

}

.title_container{
    width:1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela td, th {
    border: 1px solid;
    text-align: center;
}