.container{
    display: flex;
    justify-content: flex-start;
    margin:0 auto;
    flex-wrap: wrap;

}

.project_container {
    padding: 2em;
}

.title_container{
    width:1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}